body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: bisque;  
    margin: 0;
    padding: 0;
    background-image:linear-gradient(to bottom right ,rgba(9, 38, 40, 0.801), rgba(24, 95, 100, 0.801));

}
header{
    height: 300px;
    background-image:linear-gradient(rgba(9, 38, 40, 0.801), rgba(24, 95, 100, 0.801)) ;
    padding: 0;
    margin: 0;
}
#title{
    text-align: center;
    font-size: 24px;
}
#welcomeSection{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                      url("https://images.unsplash.com/photo-1513151233558-d860c5398176?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    height: 900px;
    width: 100% 
}
#aboutUs{
    display: block;
    margin-top: 300px 

}
#aboutUs p{
    font-size: 30px;
}
#getStarted{
    font-size: 40px;
    text-align: center;
}

h2{
    font-size: 60px;
    text-align: center;
}

#clientDetailsFormDiv{
    font-size: 30px;
    background-color: teal;
    margin-top: 0;
    padding-left: 20px;
}
#clientDetailsFormDiv input{
    width: 80%;
    height: 30px;
}



#eventDetailsFormDiv{
    background-color: rgb(72, 108, 108);
}

#eventDetailsForm {
    background-color: rgb(72, 108, 108);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
    padding: 20px;
    font-size: 30px;
    max-height: 1100px;
    min-height: 900px;
}

.eventDetails {
  display: flex;
  flex-direction: column;
}

.eventDetails p {
  margin: 0 0 5px;
  font-weight: bold;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea{
    width: 500px;
    max-width: 500px;
    height: 100px;
    max-height: 100px ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
}

button{
    width: 180px;
    height: 80px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background-color: rgb(217, 255, 255);
}

#clientDetailsFormDiv button{
    margin: 40px auto;
}
